<button mat-icon-button class="close" mat-dialog-close aria-label="Close profile dialog">
  <mat-icon style="font-size: 16px">close</mat-icon>
</button>
<mat-dialog-content class="mat-typography" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <img src="../../assets/jw-profile-photo.jpeg">
  <h4>Jashua R. White</h4>
  <p>UI/UX aficionado with an interest in robotics, smart devices, and all things tech</p>
  <div fxLayout="row" style="width: 100%">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>code</mat-icon>
      Full Stack Developer
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>place</mat-icon>
      Philadelphia
    </div>
  </div>
</mat-dialog-content>