.navbar-brand-tagline {
  font-size: .7em;
}

.navbar-brand-spacer {
  background-color: #ccc;
  margin: 0 10px;
  width: 2px;
  height: 60%;
  display: inline-block;
}

.main__footer {
  color: #9eabb3;
  font-size: 1em;
  text-align: center;
  margin-top: 70px;
  height: auto;
  padding: 20px;
}

::ng-deep .profile-dialog-panel {
  position: relative !important;
  max-width: 400px !important;
}

::ng-deep .profile-dialog-backdrop {
  background-color: darkmagenta;
}

.profile-card {
  margin-top: 30px;
  padding: 20px;
  color: #fff;

  h4 {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2em;
    cursor: pointer;
  }

  .profile-photo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.sidebar {
  width: 250px;
  background-color: mediumblue;

  p {
    text-align: center;
  }
}

.sidebar-nav-list a {
  color: #fff;
  font-weight: 300;

  &:hover {
    background: rgba(0,0,0,.3) !important;
  }
}

.sidebar-nav-list i {
  width: 30px;
  text-align: center;
  margin-right: 5px;
}

.navbar-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}