<mat-sidenav-container autosize>
  <mat-sidenav class="sidebar" #sidenav mode="side" opened="true">
    <div class="profile-card" fxLayout="column" fxLayoutAlign="center center">
      <img class="profile-photo" src="../../assets/jw-profile-photo.jpeg" (click)="openDialog()" alt="Profile photo">
      <h4 (click)="openDialog()">Jashua R. White</h4>
      <p>UI/UX aficionado with an interest in robotics, smart devices, and all things tech</p>
    </div>
    <mat-nav-list class="sidebar-nav-list">
      <a mat-list-item [routerLink]="'/home'"><i class="fa-solid fa-house"></i> Home</a>
      <a mat-list-item [routerLink]="'/about'"><i class="fa-solid fa-person-walking"></i> About</a>
      <a mat-list-item [routerLink]="'/projects'"><i class="fa-solid fa-cubes"></i> Projects</a>
      <a mat-list-item [routerLink]="'/contact'"><i class="fa-solid fa-paper-plane"></i> Contact</a>
      <a mat-list-item [routerLink]="'/toolkit'"><i class="fa-solid fa-toolbox"></i> My Toolkit</a>
    </mat-nav-list>
    <mat-nav-list class="sidebar-nav-list">
      <a mat-list-item href="https://github.com/jwhite052" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
      <a mat-list-item href="https://stackexchange.com/users/6712808/jashua-white" target="_blank"><i class="fa-brands fa-stack-overflow"></i> Stack Overflow</a>
      <a mat-list-item href="https://codepen.io/jashuawhite/" target="_blank"><i class="fa-brands fa-codepen"></i> Codepen</a>
      <a mat-list-item href="https://www.linkedin.com/in/jashuawhite" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
    </mat-nav-list>
    <mat-nav-list class="sidebar-nav-list">
      <a mat-list-item (click)="onStorePosts()">Store Posts</a>
      <a mat-list-item (click)="onFetchPosts()">Fetch Posts</a>
      <a mat-list-item (click)="onLoadLocalPosts()">Load Local Posts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="min-height: 100vh">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
      </div>
      <div>
        <span class="navbar-brand">Jashua R. White</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
        <img class="navbar-profile-icon" src="../../assets/jw-profile-photo.jpeg" (click)="openDialog()" alt="Profile photo">
      </div>
    </mat-toolbar>
    <main class="main">
      <router-outlet></router-outlet>
      <footer id="footer" class="main__footer" faLayout="column" faLayoutAlign="center center">
          © 2022 <a href="http://www.jashuawhite.com">Jashua R. White</a>.<br>Made with <i class="fa fa-heart" style="color: red;"></i>. Feuled by <i class="fa fa-coffee" style="color: brown;"></i>.<br> All Rights Reserved
      </footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>