/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Material */
.mat-body, .mat-body-1, .mat-typography {
  font: 400 18px/28px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

/* Utilities */

.u-responsive-image {
  width: 100%;
}